[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
bs4 = "*"
pre-commit = "*"
requests = "*"
selenium = "*"

[dev-packages]
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.8"
